.calendar{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.calendar-header{
    display: flex;
    background-color: #e4e4e4;
    border: 1px #9f9f9f solid;
    width: 90%;
    margin-left: 5%;
    justify-content: space-evenly;
}

.calendar-header-section{
    text-align: center;
    padding: 20px;
}

.calendar-header-section h5{
    width: 120px;
}

.calendar-content{
    border: 1px #9f9f9f solid;
    border-top: transparent;
    height: fit-content;
    width: 90%;
    margin-left: 5%;
    background-color: #fafafa;
    box-shadow: #eaeaea 3px 3px 3px;
}

.calendar-day{
    width: 14.2857%;
    padding-left: 10px;
    aspect-ratio: 1.8/1;
    font-weight: bold;
    background-color: #f6f6f6;
    border: lightgray solid 1px;
    transition: 0.2s ease-in-out;
}

.calendar-day:hover{
    background-color: #ededed;
    transition: 0.2s ease-in-out;
}

.calendar-date-changer-button{
    background-color: #212529;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 200px;
    margin-left: 5%;
    margin-right: 5%;
}

.calendar-week-section{
    display: flex;
    justify-content: space-evenly;
}

.calendar-day-blank{
    border: transparent;
    width: 14.2857%;
    aspect-ratio: 1.8/1;
    background-color: #e8e8e8;
    border: lightgray solid 1px;
}

.home-date-changer{
    display: flex;
    justify-content: center;
    height: 58px;
    width: 80%;
    margin-left: 10%;
    padding-top: 1%;
}

.day-number-today{
    width: fit-content;
    border-radius: 15px;
}

.calendar-day-today{
    width: 14.2857%;
    padding-left: 10px;
    aspect-ratio: 1.8/1;
    font-weight: bold;
    background-color: #f6f6f6;
    border: #fff289 solid 5px;
    transition: 0.2s ease-in-out;
}