body{
    background: #f3f3f3 !important;
}

.task-postit-1{
    width: 200px;
    height: 200px;
    position: fixed;
    min-width: 200px;
    min-height: 200px;
    max-width: 700px;
    max-height: 700px;
    overflow: hidden;
}

.task-postit-top-1{
    width:100%;
    height: 40px;
    background-color: #fff17b;
    cursor: pointer;
}

.task-postit-body-1{
    width: 100%;
    height: 100%;
    background-color: #fff289;
}

.task-postit-textarea{
    width: 96%;
    height: 70%;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    scrollbar-width: none;
    padding: 10px;
}

.task-postit-textarea:focus{
    border-color: grey;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
}

.task-postit-title-1{
    font-weight: bold;
}

.resize-handle {
    width: 10px;
    height: 10px;
    background: gray;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

.date-text-tarefas{
    position: absolute;
    bottom: 5px;
    left: 1%;
    display: flex;
    justify-content: space-between;
    width: 99%;
}

.home-logo-img-calendarday{
    width: 80px;
    height: 80px;
    background-color: white;
}

.home-logo-img-calendarday-text{
    transform: rotate(-90deg);
    margin-left: 20px;
    color: #676767;
}

.home-logo-img-calendarday-container{
    display: flex;
    position: absolute;
    top: 10px;
    left: -76px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    border-color: #676767;
    border-style: solid;
    border-width: 1px;
    width: 110px;
}

.home-logo-img-calendarday-container:hover{
    left: 0px;
    transition: left 0.5s;
}
