.container-form-tarefa{
    width: 75%;
    margin-left: 12.5%;
}

.container-form-tarefa-select-3{
    justify-content: space-around !important;
    display: flex;
}

.container-form-tarefa-buttons{
    display: flex;
    justify-content: center;
}

.form-tarefa-title{
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0px;
}

.form-failure-warning{
    border: #8b2222 solid 1px;
    background-color: #ffcdcd;
    color: #531919;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 2%;
    margin-top: 2%;
}