body{
    background-color: #f3f3f3 !important;
}

.tabela-tarefa-container{
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.tabela-tarefa{
    width: 100%;
}

.tabela-tarefa-header{
    padding: 100px;
    background-color: #efefef;
}

.tabela-tarefa-row{
    padding: 100px;
    margin-top: 50px;
}

.tabela-tarefa-header th{
    text-align: center;
    color: white;
    background-color: #131313;
    border-left: #676767 1px solid;
    border-right: #676767 1px solid;
    padding-left: 5px;
    padding-right: 5px;
}

.tabela-tarefa-row td{
    border-left: #676767 1px solid;
    border-right: #676767 1px solid;
    padding-left: 5px;
    padding-right: 5px;
}

.tabela-tarefa-button-acao{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.lista-tarefa-title{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.lista-success-warning{
    margin-left: 8%;
    border: forestgreen solid 1px;
    background-color: #cdffcd;
    color: #195319;
    width: 84%;
    padding: 20px;
    border-radius: 5px;
}

.lista-failure-warning{
    margin-left: 8%;
    border: #8b2222 solid 1px;
    background-color: #ffcdcd;
    color: #531919;
    width: 84%;
    padding: 20px;
    border-radius: 5px;
}

.lista-neutral-warning{
    margin-left: 8%;
    border: #838383 solid 1px;
    background-color: #eaeaea;
    color: #2c2c2c;
    width: 84%;
    padding: 20px;
    border-radius: 5px;
}

.lista-tarefa-button-container{
    margin-left: 8%;
    display: flex;
    height: 38px;
    width: 270px;
    justify-content: space-between !important;
}