<!DOCTYPE html>
<html lang="pt−BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF−8"><title>Tarefas − Lista</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/postit.css}">
</head>
<body>
<h1>Tarefas</h1>
<!−− Mensagem de sucesso −−>
<p th:if="${msg}" th:text="${msg}"></p>
<p><a th:href="@{/tarefas/novo}">Nova Tarefa</a></p>

    <div th:each="c : ${tarefa}" class="task-postit-1" th:id="${c.getId()}" th:style="'left:' + ${c.posx} + 'px; top:' + ${c.posy} + 'px; width:' + ${c.comprimento} + 'px; height:' + ${c.altura} + 'px; position:absolute;'">
        <div class="task-postit-top-1" id="task-postit-drag"></div>
        <div class="task-postit-body-1">
            <textarea class="task-postit-textarea" rows="5" th:text="${c.descricao}" ></textarea>
        </div>
        <div class="resize-handle"></div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<script src="/scripts/dragPostit.js"></script>
<script src="/scripts/resizePostit.js"></script>
</html>

<!--
        this.idTarefa = idTarefa;
        this.idUsuario = idUsuario;
        this.titulo = titulo;
        this.tipo = tipo;
        this.descricao = descricao;
        this.dataInicio = dataInicio;
        this.dataFim = dataFim;
        this.posx = posx;
        this.posy = posy;
        this.comprimento = comprimento;
        this.altura = altura;
        this.cor = cor;
        this.statusTarefa = statusTarefa;
-->