<!DOCTYPE html>
<html lang="pt−BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF−8"><title>Tarefas − Lista</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/postit.css}">
</head>
<body>
<div class="home-logo-img-calendarday-container">
    <img onclick="window.location.href='/home'" class="home-logo-img-calendarday" th:src="@{/images/TaskItLogo.png}" alt="TaskIt Logo!">
    <div class="home-logo-img-calendarday-text">Início</div>
</div>
<div class="date-text-tarefas">
    <h3 th:text="'Data: ' + ${dataInicio}"></h3>
    <span style="display: flex; justify-content: space-around; width: 500px;">
        <p><a th:href="@{/tarefas/novo/{data}(data=${dataInicio})}" class="btn btn-dark">Nova Tarefa</a></p>
        <p><a th:href="@{/tarefas/1}" class="btn btn-dark">Gerenciar Tarefas</a></p>
        <p><a onclick="startResize()" class="btn btn-secondary">Enfileirar tarefas</a></p>
    </span>
</div>
<!−− Mensagem de sucesso −−>
<p th:if="${msg}" th:text="${msg}"></p>

    <div th:each="c : ${tarefa}" class="task-postit-1" th:id="${c.getId()}" th:style="'left:' + ${c.posx} + 'px; top:' + ${c.posy} + 'px; width:' + ${c.comprimento} + 'px; height:' + ${c.altura} + 'px; position:absolute;'">
        <div class="task-postit-top-1" id="task-postit-drag" th:styleappend="'background-color:'+${cores[c.cor][1]}"></div>
        <div class="task-postit-body-1" th:styleappend="'background-color:'+${cores[c.cor][0]}">
            <div class="task-postit-textarea" th:text="${c.descricao}" ></div>
        </div>
        <div class="resize-handle"></div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<script src="/scripts/dragPostit.js"></script>
<script src="/scripts/resizePostit.js"></script>
<script src="/scripts/organizePostit.js"></script>
</html>

<!--
        this.idTarefa = idTarefa;
        this.idUsuario = idUsuario;
        this.titulo = titulo;
        this.tipo = tipo;
        this.descricao = descricao;
        this.dataInicio = dataInicio;
        this.dataFim = dataFim;
        this.posx = posx;
        this.posy = posy;
        this.comprimento = comprimento;
        this.altura = altura;
        this.cor = cor;
        this.statusTarefa = statusTarefa;
-->