<!DOCTYPE html>
<html lang="pt−BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF−8"><title>Tarefas − Lista</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/postit.css}">
    <link rel="stylesheet" th:href="@{/styles/task_list.css}">
    <link rel="stylesheet" th:href="@{/styles/home.css}">
</head>
<body>

<div class="container-home" th:id="${yearMonth}">
    <div class="home-header">
        <div style="display: flex;">
            <img class="home-logo-img" onclick="window.location.href='/home'" th:src="@{/images/TaskItLogo.png}" alt="TaskIt Logo!">
            <h3>Task-It !</h3>
        </div>
        <div class="home-header-buttons">
            <a class="btn btn-light" href="/home">Início</a>
            <a class="btn btn-light" href="/tarefas">Tarefas</a>
            <a class="btn btn-light" href="/usuarios">Usuários</a>
        </div>
    </div>
</div>

<h1 class="lista-tarefa-title">Listagem de tarefas</h1>
<!−− Mensagem de sucesso −−>
<p th:if="${msg != null and error==0}" th:text="${msg}" class="lista-success-warning"></p>

<!-- Mensagem de erro -->
<p th:if="${msg != null and error==1}" th:text="${msg}" class="lista-failure-warning"></p>

<div class="lista-tarefa-button-container">
    <p><a class="btn btn-dark" th:href="@{/tarefas/novo}">Nova Tarefa</a></p>
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal1">
        Filtrar tarefas
    </button>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filtro de Tarefas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/tarefas}" method="get" th:object="${tarefaFilter}">
                    <label for="idUsuario">Usuário:</label>
                    <select th:field="*{idUsuario}" id="idUsuario" class="form-select">
                        <option value="">Selecione</option>
                        <option th:each="u: ${usuariosList}" th:value="${u.getId()}" th:text="${u.getNome()}"></option>
                    </select><br>

                    <label for="tarefa">Tarefa:</label>
                    <select th:field="*{idTarefa}" id="tarefa" class="form-select">
                        <option value="">Selecione</option>
                        <option th:each="u: ${tarefasNoFilter}" th:value="${u.getId()}" th:text="${u.getId()}"></option>
                    </select><br>

                    <label for="titulo">Título:</label>
                    <input th:field="*{titulo}" id="titulo" class="form-control"><br>

                    <label for="tipo">Tipo:</label>
                    <input th:field="*{tipo}" id="tipo" class="form-control"><br>

                    <label for="descricao">Descrição:</label>
                    <input th:field="*{descricao}" id="descricao" class="form-control"><br>

                    <label for="dataInicio">Data:</label>
                    <input th:field="*{dataInicio}" id="dataInicio" type="date" class="form-select"><br>

                    <label for="cor">Cor:</label>
                    <select th:field="*{cor}" id="cor" class="form-select">
                        <option value="">Selecione</option>
                        <option value="0">Amarelo</option>
                        <option value="1">Laranja</option>
                        <option value="2">Vermelho</option>
                        <option value="3">Verde</option>
                        <option value="4">Azul</option>
                        <option value="5">Roxo</option>
                    </select><br>

                    <label for="statusTarefa">Status:</label>
                    <select th:field="*{statusTarefa}" id="statusTarefa" class="form-select">
                        <option value="">Selecione</option>
                        <option value="0">Em Andamento</option>
                        <option value="1">Concluída</option>
                    </select><br>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Aplicar filtros</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="tabela-tarefa-container">
    <table class="tabela-tarefa">
        <tr class="tabela-tarefa-header">
            <th>Usuário</th>
            <th>Título</th>
            <th>Tipo</th>
            <th>Descrição</th>
            <th>Data início</th>
            <th>Cor</th>
            <th>Status tarefa</th>
            <th>Ações</th>
        </tr>

        <tr th:each="c : ${tarefas}" class="tabela-tarefa-row">
            <td th:text="${c.idUsuario}"></td>
            <td th:text="${c.titulo.length() > 20} ? ${c.titulo.substring(0, 20)} + '...' : ${c.titulo}"></td>
            <td th:text="${c.tipo}"></td>
            <td th:text="${c.descricao.length() > 40} ? ${c.descricao.substring(0, 40)} + '...' : ${c.descricao}"></td>
            <td th:text="${c.dataInicio}"></td>
            <td th:text="${cores[c.cor]}"></td>
            <td th:text="${situacao[c.statusTarefa]}"
                th:style="${c.statusTarefa == 0} ? 'color:black' : 'color:green'">
            </td>
            <td>
                <div class="tabela-tarefa-button-acao">
                    <form th:action="@{/tarefas/editar/{id}(id=${c.getId()})}" method="get">
                        <button type="submit" class="btn btn-secondary">Editar</button>
                    </form>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="'#exampleModalTarefa'+${c.getId()}">
                        Excluir
                    </button>
                </div>
            </td>
        </tr>
    </table>


    <!-- Modal -->
    <div th:each="c: ${tarefas}" class="modal fade" th:id="'exampleModalTarefa'+${c.getId()}" tabindex="-1" th:aria-labelledby="'exampleModalTarefaL'+${c.getId()}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" th:id="'exampleModalTarefaL'+${c.getId()}" th:text="'Excluir tarefa ID ' + ${c.getId()}"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja mesmo excluir?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <form th:action="@{/tarefas/{idTarefa}(idTarefa=${c.getId()})}" method="post" class="btn btn-danger btn-sm">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" style="border: transparent; background-color: transparent; color: white">Excluir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
<script src="/scripts/dragPostit.js"></script>
<script src="/scripts/resizePostit.js"></script>
</html>

<!--
        this.idTarefa = idTarefa;
        this.idUsuario = idUsuario;
        this.titulo = titulo;
        this.tipo = tipo;
        this.descricao = descricao;
        this.dataInicio = dataInicio;
        this.dataFim = dataFim;
        this.posx = posx;
        this.posy = posy;
        this.comprimento = comprimento;
        this.altura = altura;
        this.cor = cor;
        this.statusTarefa = statusTarefa;
-->