<!DOCTYPE html>
<html lang="pt−BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF−8"><title>Tarefas − Lista</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/postit.css}">
</head>
<body>
<h1>Tarefas</h1>
<!−− Mensagem de sucesso −−>
<p th:if="${msg}" th:text="${msg}"></p>
<p><a th:href="@{/tarefas/novo}">Nova Tarefa</a></p>
<table>
    <tr>
        <th>Usuário</th>
        <th>Título</th>
        <th>Tipo</th>
        <th>Descrição</th>
        <th>Data início</th>
        <th>Data fim</th>
        <th>PosX</th>
        <th>PosY</th>
        <th>Comprimento</th>
        <th>Altura</th>
        <th>Cor</th>
        <th>Status tarefa</th>
        <th>Ações</th>
    </tr>

    <div th:each="c : ${tarefa}" class="task-postit-1" th:id="${c.getId()}" th:style="'left:' + ${c.posx} + 'px; top:' + ${c.posy} + 'px; width:' + ${c.comprimento} + 'px; height:' + ${c.altura} + 'px; position:absolute;'">
        <div class="task-postit-top-1" id="task-postit-drag"></div>
        <div class="task-postit-body-1">
            <textarea class="task-postit-textarea" rows="5" th:text="${c.descricao}" ></textarea>
        </div>
        <div class="resize-handle"></div>
    </div>

    <tr th:each="c : ${tarefa}">
        <td th:text="${c.idUsuario}"></td>
        <td th:text="${c.titulo}"></td>
        <td th:text="${c.tipo}"></td>
        <td th:text="${c.descricao}"></td>
        <td th:text="${c.dataInicio}"></td>
        <td th:text="${c.dataFim}"></td>
        <td th:text="${c.posx}"></td>
        <td th:text="${c.posy}"></td>
        <td th:text="${c.comprimento}"></td>
        <td th:text="${c.altura}"></td>
        <td th:text="${c.cor}"></td>
        <td th:text="${c.statusTarefa}"></td>
        <td>
            <form th:action="@{/tarefas/editar/{id}(id=${c.getId()})}" method="get">
                <button type="submit">Editar</button>
            </form>
            <form th:action="@{/tarefas/{idTarefa}(idTarefa=${c.getId()})}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
            </form>
        </td>
    </tr>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<script src="/scripts/dragPostit.js"></script>
<script src="/scripts/resizePostit.js"></script>
</html>

<!--
        this.idTarefa = idTarefa;
        this.idUsuario = idUsuario;
        this.titulo = titulo;
        this.tipo = tipo;
        this.descricao = descricao;
        this.dataInicio = dataInicio;
        this.dataFim = dataFim;
        this.posx = posx;
        this.posy = posy;
        this.comprimento = comprimento;
        this.altura = altura;
        this.cor = cor;
        this.statusTarefa = statusTarefa;
-->